In [2]:
import pandas as pd
import numpy as np
import scipy
import scipy.stats as sp
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
df_cancer = pd.read_csv("datasets/BCSprep.csv")
df_cancer.head()

,id,age,pathsize,lnpos,histgrad,er,pr,status,time,lnpos_YN,pathsize_Cat
0,1.0,60.0,NaN,0.0,3.0,0.0,0.0,0.0,9.466667,No,NaN
1,2.0,79.0,NaN,0.0,NaN,NaN,NaN,0.0,8.600000,No,NaN
2,3.0,82.0,NaN,0.0,2.0,NaN,NaN,0.0,19.333333,No,NaN
3,4.0,66.0,NaN,0.0,2.0,1.0,1.0,0.0,16.333333,No,NaN
4,5.0,52.0,NaN,0.0,3.0,NaN,NaN,0.0,8.500000,No,NaN

In [18]:
df_cancer_a = df_cancer[df_cancer['lnpos_YN'] == 'Yes']
df_cancer_a

,id,age,pathsize,lnpos,histgrad,er,pr,status,time,lnpos_YN,pathsize_Cat
8,9.0,46.0,NaN,17.0,NaN,NaN,NaN,0.0,27.633333,Yes,NaN
9,10.0,54.0,NaN,6.0,2.0,1.0,1.0,0.0,11.133333,Yes,NaN
10,11.0,67.0,NaN,1.0,NaN,NaN,NaN,0.0,11.066667,Yes,NaN
20,1049.0,35.0,NaN,2.0,NaN,NaN,NaN,0.0,107.800000,Yes,NaN
27,1056.0,35.0,NaN,10.0,3.0,NaN,NaN,0.0,48.666667,Yes,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1200,1036.0,40.0,5.5,1.0,NaN,NaN,NaN,0.0,33.700000,Yes,> 5
1201,1037.0,46.0,5.5,6.0,NaN,0.0,0.0,0.0,32.366667,Yes,> 5
1202,1038.0,37.0,5.5,5.0,3.0,0.0,0.0,0.0,6.866667,Yes,> 5
1204,1041.0,57.0,6.5,7.0,3.0,1.0,1.0,0.0,15.166667,Yes,> 5
1205,1202.0,51.0,5.5,11.0,2.0,0.0,0.0,1.0,45.133333,Yes,> 5

In [19]:
df_cancer_b = df_cancer[df_cancer['lnpos_YN'] == 'No']
df_cancer_b

,id,age,pathsize,lnpos,histgrad,er,pr,status,time,lnpos_YN,pathsize_Cat
0,1.0,60.0,NaN,0.0,3.0,0.0,0.0,0.0,9.466667,No,NaN
1,2.0,79.0,NaN,0.0,NaN,NaN,NaN,0.0,8.600000,No,NaN
2,3.0,82.0,NaN,0.0,2.0,NaN,NaN,0.0,19.333333,No,NaN
3,4.0,66.0,NaN,0.0,2.0,1.0,1.0,0.0,16.333333,No,NaN
4,5.0,52.0,NaN,0.0,3.0,NaN,NaN,0.0,8.500000,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1194,1266.0,73.0,2.4,0.0,3.0,1.0,1.0,0.0,6.100000,No,2 < <= 5
1195,1031.0,82.0,5.2,0.0,2.0,NaN,NaN,0.0,37.266667,No,> 5
1198,1034.0,68.0,5.5,0.0,1.0,1.0,1.0,0.0,52.433333,No,> 5
1203,1039.0,64.0,6.0,0.0,3.0,0.0,1.0,0.0,15.766667,No,> 5
1206,1203.0,32.0,7.0,0.0,3.0,0.0,0.0,1.0,21.766667,No,> 5

In [21]:
df_cancer_a.describe()

,id,age,pathsize,lnpos,histgrad,er,pr,status,time
count,278.000000,278.000000,261.000000,278.000000,228.000000,220.000000,216.000000,278.000000,278.000000
mean,737.838129,52.169065,2.111877,3.823741,2.403509,0.622727,0.550926,0.107914,45.523861
std,337.886560,13.063446,1.097923,4.085885,0.558779,0.485809,0.498555,0.310831,30.504200
min,9.000000,24.000000,0.100000,1.000000,1.000000,0.000000,0.000000,0.000000,3.266667
25%,471.250000,42.000000,1.400000,1.000000,2.000000,0.000000,0.000000,0.000000,19.525000
50%,781.500000,50.500000,2.000000,2.000000,2.000000,1.000000,1.000000,0.000000,41.266667
75%,1014.500000,63.000000,2.500000,5.000000,3.000000,1.000000,1.000000,0.000000,65.875000
max,1263.000000,82.000000,6.500000,35.000000,3.000000,1.000000,1.000000,1.000000,129.033333

In [22]:
df_cancer_b.describe()

,id,age,pathsize,lnpos,histgrad,er,pr,status,time
count,929.000000,929.000000,860.000000,929.0,692.000000,649.000000,635.000000,929.000000,929.000000
mean,586.130248,57.650161,1.618651,0.0,2.225434,0.607088,0.540157,0.045210,47.385181
std,358.729891,13.151853,0.933539,0.0,0.616738,0.488774,0.498778,0.207876,29.378292
min,1.000000,22.000000,0.150000,0.0,1.000000,0.000000,0.000000,0.000000,2.633333
25%,270.000000,48.000000,1.000000,0.0,2.000000,0.000000,0.000000,0.000000,23.400000
50%,575.000000,58.000000,1.500000,0.0,2.000000,1.000000,1.000000,0.000000,43.466667
75%,892.000000,67.000000,2.000000,0.0,3.000000,1.000000,1.000000,0.000000,65.400000
max,1266.000000,88.000000,7.000000,0.0,3.000000,1.000000,1.000000,1.000000,133.800000

This means the mean diff between the time of medication of people with positive lnpos

In [23]:
sp.ttest_ind(a=df_cancer_a['time'], b=df_cancer_b['time'])

TtestResult(statistic=-0.9185575942843901, pvalue=0.35851084353457285, df=1205.0)